// variables
$header-color: #5680e9;

$breakpoint-tablet: 550px;
$breakpoint-desktop: 901px;

@mixin flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primary-font-family;
}
