@import './variables';


.logo {
    width: 35vmin;
    pointer-events: none;
} 
.auth-header{
    // @include flex-container;
    // @include link;
    padding: 1.5em;
    justify-content: flex-end;
    font-size: $tablet-font-size;
}
.auth-box{
    // @include flex-container-column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-box-color;
    color: $primary-text-color;
    font-size: $tablet-font-size;
}
.auth-input{
    // @include auth-input;
    width: 70vw;
    height: 40px;
    font-size: $tablet-font-size;
    &:focus{
    background-color: $primary-input-color;
    outline: none;
    border:none;
    }
    
}
::placeholder{
    color: rgb(175, 175, 175);
}
.auth-button{
    width: 71.5vw;
    height: 40px;
    margin-top: 30px;
    // @include auth-button;
    font-size: $tablet-font-size;
    font-family : inherit;
}

.change{
    // @include auth-button-change;
}
.forgot-pw-link{
    margin-top: 30px;
    // @include link
}



// @media (min-width: $breakpoint-tablet){
//     .auth-header{
//         padding: 2em;
//         font-size: $desktop-font-size;
//     }
//     .auth-input {
//         width: 45vw;
//     }
//     .auth-button {
//         width: 45vw;
//     }
// }

// @media (min-width: $breakpoint-desktop){
//     .auth-box{
//         font-size: $desktop-font-size;
//     }
//     .auth-header{
//         padding: 2em;
//         font-size: $desktop-font-size;
//     }
//     .auth-input {
//         width: 30vw;
//         font-size: $desktop-font-size;
//     }
//     .auth-button {
//         width: 30.5vw;
//         font-size: $desktop-font-size;
//     }

// }