@import './variables';

@media screen and (min-width: 0px) and (max-width: 773px) {
  .exit-body {
    background-color: $header-color;
    margin-top: 0px;
    height: 800vw;
    width: 100vw;
 
   }
  .exit-head{
    display: flex;
    box-sizing: inherit;
    padding-top: 20px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $header-color;
    font-weight: 900;
    font-size: 16px;
    color: white;
    
  }
  .exit-page{
    width: 100%;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 50px;
    display: flex;
    box-sizing: inherit;
    background-color: $header-color;
    justify-content: flex-end ;
    font-weight: 900;
    color: white;
   
    }
    .bar-code-box{
      background-color: white;
      padding: 20px;
      border: 5px;
      border-radius: 8px;
      box-shadow: 0 14px 28px 0 rgba(0,0,0,.25),
                  0 10px 10px 0 rgba(0,0,0,.26);
     height: 55vh;
      width: 80%;
      margin: 10px auto;
      display:flex;
      justify-content: flex-start;
      flex-direction: column;
      border-color: 10px dimgray;
    }
    
    .bar-pass{
      display: flex;
      align-items: flex-start;
      text-align: center;
      font-size: 14px;
      font-weight: 1000;
      width: 50%;
      color: $header-color;

    }
    .name-date{
      display: flex;
      width: 100%;
      Height: 30px;
      padding-bottom: 20px;

    }
    .date{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
      height: 30px;
    }
    .name{
      width: 50%;
      display: flex;
      align-items: flex-start;
      padding-left: 2px;
      font-size: 15px;
      font-weight: 1000;
      height: 30px

    }
    .total-item{
      display: flex;
      width: 100%;
      height: 30px;
     
    }
    .totalAmount{
      display: flex;
      align-items: flex-end;
      width: 50%;
    }
    .itemTotal{
      width: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      
    }
    .bar-code{
      display: flex;
      align-items: center;
      width: 100%;
      height: 20px;
      box-sizing: inherit;
      padding-top: 80px;
      padding-left: 20px;
    }
    .img{
      display: flex;
      border-color: 10px black;
      background-color: pink;
    }
}