@import './variables';
.fpw-component{
    background-color: #5680e9;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    // align-items: center;
    
}
.fpw-box{
    // display:flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 70vw;
}
.fpw-box a{
    color:#eee;
}