@import './variables';
.fpw-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    .email-alert{
        position: fixed;
        top: 30px;
        height: 90px;
        display:flex;
        justify-content: center;
        flex-direction:column;
    }
    .scango{
        margin-top: 30px;
        width: 15vw;
    }
    .scangotxt{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
        font-size: 3.5vw;
        margin-bottom: 0;
    }

    .fpw-box{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 80vw;
        height: 60vh;
        background-color: white;

        .fpw-texts{
            font-size: 0.9rem;
        }

        .ForgotPasswordTxt{
            margin-top: 3vh;
            font-size: 1.5rem;
        }
        .fpw-email{
            text-align: left;
            margin-top: 30px;
            margin-bottom: 0;
            color: grey;
            font-size: 0.8rem;
        }
        .fpw-email-input{
            margin-bottom: 10px;
            width: 60vw;
            font-size: 1.0rem;
            border: rgb(201, 201, 201) solid 1px;
            padding: 10px;
            border-radius: 0;
        }
        .fpw-link{
            font-size: 1rem;
        }
    }
    background-image: url("https://gymsharkrepl.s3-us-west-1.amazonaws.com/icons/background.svg");
    background-size: 450vw;
    width: 100vw;
    height: 100vh;
    .email-button{
        background-color: #0d19a3;
        border: none;
        border-radius: 20px;
        padding: 2vw 7vw;
        color: white;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.0rem;
    }
    button:hover{
        background-color: #5680e9;
    }
}
@media (min-width: $breakpoint-tablet){
    .fpw-component .fpw-box{
        width: 60vw;
    }
    .fpw-component .fpw-box .fpw-email-input{
        width: 40vw;
        font-size: 1.0rem;
        padding: 10px;
    }
    .fpw-component .fpw-box .fpw-texts{
        font-size: 1.3rem;
        line-height:1.2em;
    }
    .fpw-component .fpw-box .ForgotPasswordTxt{
        margin-top: 3vh;
        font-size: 2.5rem;
    }
    .fpw-component .fpw-box .email-button{
        padding: 1.2vw 7vw;
    }
    .fpw-component .fpw-box .fpw-email{
        font-size: 1rem;
    }
    .fpw-component .fpw-box .fpw-link{
        font-size: 1.3rem;
        margin-top: 5px;
    }
}
@media (min-width: $breakpoint-desktop){
    .fpw-component .scango{
        width: 100px;
    }
    .fpw-component .scangotxt{
        font-size: 16px;
    }
    .fpw-component .fpw-box{
        width: 450px;
    }
    .fpw-component .fpw-box .fpw-email-input{
        width: 20vw;
        font-size: 1.0rem;
        padding: 5px;
    }
    .fpw-component .fpw-box .fpw-texts{
        font-size: 14px;
    }
    .fpw-component .fpw-box .ForgotPasswordTxt{
        margin-top: 3vh;
        font-size: 24px;
    }
    .fpw-component .fpw-box .email-button{
        width: 20vw;
        padding: 5px 2px;
    }
    .fpw-component .fpw-box .fpw-email{
        font-size: 11px;
    }
    .fpw-component .fpw-box .fpw-link{
        font-size: 14px;
        margin-top: 5px;
    }
}