@import './variables';
.fpw-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    .email-alert{
        position: fixed;
        top: 30px;
        height: 80px;
    }
    .scango{
        margin-top: 30px;
        width: 15vw;
    }
    .scangotxt{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
        font-size: 3.5vw;
        margin-bottom: 0;
    }

    .fpw-box{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 80vw;
        height: 60vh;
        background-color: white;

        .fpw-texts{
            margin-bottom: 5vh;
            font-size: 0.9rem;
        }

        .ForgotPasswordTxt{
            margin-top: 3vh;
            font-size: 1.5rem;
        }
        .fpw-email{
            text-align: left;
            margin-bottom: 0;
            color: grey;
            font-size: 0.8rem;
        }
        .fpw-email-input{
            margin-bottom: 10px;
            width: 60vw;
            font-size: 1.0rem;
            border: rgb(201, 201, 201) solid 1px;
            padding: 10px;
            border-radius: 0;
        }

        .links{
            color: grey;
            text-decoration: underline;
        }
    }

    // background-color: #5680e9;
    background-image: url("https://gymsharkrepl.s3-us-west-1.amazonaws.com/icons/background.svg");
    background-size: 450vw;
    width: 100vw;
    height: 100vh;
    .email-button{
        background-color: #0d19a3;
        border: none;
        border-radius: 20px;
        padding: 2vw 7vw;
        color: white;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.0rem;
    }
}