@import './variables';
.Instruction{
    display: flex;
    flex-direction: column;
    background-image: url("https://gymsharkrepl.s3-us-west-1.amazonaws.com/icons/background.svg");
    background-size: 450vw;
    align-items: center;
    height: 100vh;
}
.scango{
    margin-top: 30px;
    width: 15vw;
}
.scangotxt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-size: 3.5vw;
    margin-bottom: 0;
}
.tutorial{
    width: 80vw;
    height: 60vh;
    background-color: white;
    text-align: center;
    margin-top: 20px;
}
.instructions-flex{
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.scanYourItems{
    h5{
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    p{
        font-size: 3.5vw;
        margin-bottom: 1vh;
        margin-top: 1vw;
    }
    .barcode{
        width: 6vw;
    }
}
.payWithPhone{
    h5{
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    p{
        font-size: 3.5vw;
        margin-bottom: 1vh;
        margin-top: 1vw;
    }
    .phoneIcon{
        width: 6vw;
    }
}
.getYourReceipt{
    h5{
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    p{
        font-size: 3.5vw;
        margin-bottom: 1vh;
        margin-top: 1vw;
    }
    .recieptIcon{
        width: 8vw;
    }
}
.ProceedToCamera{
background-color: #0d19a3;
border: none;
border-radius: 20px;
padding: 2vw 7vw;
color: white;
font-weight: 700;
margin-bottom: 15px;
}

@media (min-width: $breakpoint-tablet){
    .tutorial {
        height: 70vh;
        width: 75vw;
        margin-top: 3vh;
    }
    .instructions-flex{
        height: 60vh;
    }
    .scanYourItems{
        margin: 10px 0px 0px 0px;
    }
    .scanYourItems h5 {
        font-size: 26px;
    }
    .scanYourItems p {
        font-size: 22px;
    }
    .payWithPhone h5 {
        font-size: 26px;
    }
    .payWithPhone p {
        font-size: 22px;
    }
    .getYourReceipt h5 {
        font-size: 26px;
    }
    .getYourReceipt p {
        font-size: 22px;
    }
    .ProceedToCamera {
        font-size: 18px;
    }

}

@media (min-width: $breakpoint-desktop){
    .Instruction{
        background-size: 150vw;
    }
    .instructions-flex{
        height: 55vh;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .scango {
        width: 80px;
    }
    .scangotxt {
        font-size: 20px;
    }

    .scanYourItems{
        margin: auto 30px;
        width: 200px;
        height: 60%;
    }
    .scanYourItems h5 {
        font-size: 20px;
    }
    .scanYourItems p {
        font-size: 16px;
    }
    .scanYourItems .barcode {
        height: 150px;
    }
    .payWithPhone{
        margin: auto 30px;
        width: 200px;
        height: 60%;
    }
    .payWithPhone h5 {
        font-size: 20px;
    }
    .payWithPhone p {
        font-size: 16px;
    }
    .payWithPhone .phoneIcon {
        height: 150px;
    }
    .getYourReceipt{
        margin: auto 30px;
        width: 200px;
        height: 60%;
    }
    .getYourReceipt h5 {
        font-size: 20px;
    }
    .getYourReceipt p {
        font-size: 16px;
    }
    .getYourReceipt .recieptIcon {
        height: 150px;
    }
    .ProceedToCamera {
        padding: 10px 40px;
    }

}