@import './variables';
.purchase-history-header {
    background-color: $header-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 20px 25px;
    color: white;
    margin-bottom: 30px;
}
.purchase-history-exit {
    margin-bottom: 0px;
}
.purchase-history-title {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 100;
}
.purchase-history-faq {
    border-radius: 100px;
    border: 2px solid white;
    background-color: $header-color;
    color: white;
}
.order-flex{
    // background-color: lightcoral;
    width: 100vw;
    margin:0 auto;
}
.order-fl{
    width: 90%;
    height: 100px;
    background-color:lightgreen;
    margin:5px auto;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}
.order{
    width: 100%;
    display:flex;
    flex-direction: column;
}
.order-title{
    background-color: lightgrey;
    height: 20px;
    display:flex;
    align-items: center;
    padding: 0 10px;
    
    
}
