@import './variables';
.purchase-history-header {
    background-color: $header-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 20px 25px;
    color: white;
    margin-bottom: 10px;
}
.purchase-history-exit {
    margin-bottom: 0px;
}
.purchase-history-title {
    font-weight: 900;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 100;
}
.purchase-history-faq {
    border-radius: 100px;
    border: 2px solid white;
    background-color: $header-color;
    color: white;
}
.order-flex{
    // background-color: lightcoral;
    width: 100vw;
    margin:0 auto;
}
.order-fl{
    width: 95%;
    height: 120px;
    // background-color:lightgreen;
    margin:5px auto;
    display: flex;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px; 
}
.order{
    width: 100%;
    display:flex;
    flex-direction: column;
}
.order-title{
    background-color: rgb(230, 230, 230);
    height: 22px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 5px 5px 0px 0px;  
    color: black;
    font-size: 12px;
}
.chevron-right{
    font-size: 20px;
}
.purchase-history-img {
    width: 50px;
    margin: 10px 0px 10px 15px;
  }